<h1>Welcome home !</h1>

<button (click)='saveDatatoSpring()'>Delete user 7</button>

<ul *ngIf="users">

    <li *ngFor="let user of users">
        <p>{{ user.id_agency}} </p>
        <p>{{ user.name}}</p>
        
    </li>


</ul>

